// WIDGETS

// Image

.widget.image {
	margin: 0 0 10px;
    
	a:hover {
		text-decoration: none;
	}

	span.image-title,
	span.image-description {
		text-align: left;
		margin: 5px 0;
        text-decoration: none;
	}

	span.image-title {
		font-family: @font-swatch4-font-family;
		font-size: @font-swatch4-font-size;
		font-weight: @font-swatch4-font-weight;
		line-height: @font-swatch4-line-height;
		letter-spacing: @font-swatch4-letter-spacing;
		color: @font-swatch4-color;

        .style--light & {
            color: @font-swatch4-color;
        }

        .style--accent & {
            color: @contrast--accent;
        }

        .style--dark & {
            color: @contrast--dark;
        }
	}

	span.image-description {
		font-family: @font-swatch5-font-family;
		font-size: 14px;
		font-weight: @font-swatch5-font-weight;
		line-height: 20px;
		letter-spacing: @font-swatch5-letter-spacing;
		color: @font-swatch5-color;

        .style--light & {
            color: @font-swatch5-color;
        }

        .style--accent & {
            color: fade(@contrast--accent, 90%);
        }

        .style--dark & {
            color: fade(@contrast--dark, 90%);
        }
	}
}

// Forms

input,
textarea,
.widget.profile form fieldset input,
.signupform fieldset input,
.userregistration fieldset input,
select {
	border: 1px solid fade(@color-swatch3, 15%);
    padding: 5px;
	text-indent: 5px;
	background-color: @color-swatch1;
	width: auto;
	min-height: 40px;
    height: auto !important;
    color: @font-swatch5-color;

    .style--light & {
        border-color: fade(@color-swatch3, 15%);
        color: @font-swatch5-color;
    }

    .style--accent & {
        border-color: fade(@color--dark, 15%);
        color: @font-swatch5-color;
    }

    .style--dark & {
        border-color: lighten(@color--dark, 15%);
        color: @font-swatch5-color;
    }

	@media @mobile {
	    width: 100%;
	}
    
    &:focus {
        border: 1px solid fade(@color-swatch3, 25%);
        box-shadow: 0px 0px 3px fade(@color-swatch3, 10%);
        background-color: @color-swatch1;
    
        .style--light & {
            border-color: fade(@color-swatch3, 25%);
            box-shadow: 0px 0px 3px fade(@color-swatch3, 10%);
        }
    
        .style--accent & {
            border-color: fade(@color--dark, 25%);
            box-shadow: 0px 0px 3px fade(@color--dark, 10%);
        }
    
        .style--dark & {
            border-color: fade(@color--dark, 25%);
            box-shadow: none;
        }
    }
}

input[type=text],
input[type=email],
.widget.profile form fieldset input,
textarea,
.widget.ecomcheckout .delivery select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

textarea {
	min-height: 100px;
}

.signupform fieldset input {
    flex-grow: 1;
    margin-right: 10px;

	@media @mobile {
	    margin-right: 0;
	}

	.responsivecolumns & {
	    margin-right: 0;
	}
}


// Contact, Signup, Profile, Delivery

.signupform,
.widget.profile form,
.contactform form,
.advancedcontactform form,
.bottom-profile .widget.profile form,
.delivery,
.blog-search-form {
    background-color: fade(@color-swatch3, 5%);
	border-left: 1px solid fade(@color-swatch2, 50%);
	padding: 20px 25px 25px;

    .style--light & {
        background: fade(@color-swatch3, 5%);
        border-color: fade(@color-swatch2, 50%);
    }

    .style--accent & {
        background: darken(@color--accent, 5%);
        border-color: fade(@color--dark, 50%);
    }

    .style--dark & {
        background: lighten(@color--dark, 5%);
        border-color: fade(@color--accent, 50%);
    }

    .style--background-image & {
        background: transparent;
        border: 0;
        padding: 0;
    }

	fieldset {
		margin: 0;
	}

	button {
        min-width: 30%;
    }
}

// Form

label, .label,
.contactform label,
.advancedcontactform label {
    display: block;
	font-size: @font-swatch5-font-size;
	line-height: @font-swatch5-line-height;
    word-break: break-word;
    margin-top: 1em;
    margin-bottom: 0.5em;
	color: @font-swatch5-color;

    .style--light & {
        color: @font-swatch5-color;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}

.contactform button,
.contactform button.btn,
.advancedcontactform button,
.advancedcontactform button.btn {
	float: right;
	width: 30%;
}

.signupform {
	margin-bottom: 10px;

	@media @tablet {
		max-width: 100%;
	}

	@media @mobile {
		max-width: 100%;
	}

	label {
	    font-size: @font-swatch5-font-size;
	}

    fieldset input {
	    @media @mobile {
	        width: 100%;
	    }
    }
}

.widget.advancedcontactform .form-group.advancedcontactform__form-group--terms,
.widget.contactform .form-group.contactform__form-group--terms,
.widget.signupform .form-group.signupform__form-group--terms {
	input[type="checkbox"] {
		margin: 4px 8px 4px 4px;
		min-height: auto;
		min-width: auto;
		height: auto !important;
		width: auto !important;
		opacity: 0;
	}
	
	label {
		padding-bottom: 0;
		
		&:before {
			display: none;
		}
		
		.form__link {
    		font-weight: @font-swatch4-font-weight;
            color: fade(@font-swatch5-color, 80%);

            .style--light & {
                color: fade(@font-swatch5-color, 80%);
            }

            .style--accent & {
                color: fade(@contrast--accent, 80%);
            }

            .style--dark & {
                color: fade(@contrast--dark, 80%);
            }
		}
	}
}

// Buttons

.widget.button button {
	margin: 10px 0;
}

.btn,
button.btn,
button.button,
.contactform button,
.contactform button.btn,
.advancedcontactform button,
.advancedcontactform button.btn,
.widget.tweet a,
.widget.clicktocall a,
.widget.clicktocall a:hover,
.widget.dropbox button,
.widget.filedownload button.btn,
.widget.paypalbuynow .widget.button.paypal,
.widget.socialicons span a,
.widget.profile .bk-profile-socialicons span a,
.widget.feature .feature-bgimg .content button,
.userregistration fieldset .userregistrationbtn,
.widget.yelpreview .review-body .review-link a,
form.blog-search-form .form-group button,
.blog-post-more-link a {
    display: inline-block;
	background-color: @font-swatch7-background-color;
	font-family: @font-swatch7-font-family;
	font-weight: @font-swatch6-font-weight;
	line-height: @font-swatch7-line-height;
	letter-spacing: @font-swatch7-letter-spacing;
	font-size: @font-swatch7-font-size; 
    color: @font-swatch7-color;
    text-align: center;
	text-decoration: none;
	padding: 12px 25px;
    height: auto;
    min-height: 40px;
    border: 0;
    word-break: break-word;

    .style--light & {
        background-color: @font-swatch7-background-color;
        color: @font-swatch7-color;
    }

    .style--accent & {
        background-color: @color--dark;
        color: @contrast--dark;
    }

    .style--dark & {
        background-color: @color--accent;
        color: @contrast--accent;
    }

	&:hover {
		background-color: @font-swatch7-background-color-hover;
		color: @font-swatch7-color;
		text-decoration: none;

		.style--light & {
            background-color: @font-swatch7-background-color-hover;
            color: @font-swatch7-color;
		}

		.style--accent & {
			background-color: darken(@color--dark, 10%);
			color: @contrast--dark;
		}

		.style--dark & {
			background-color: darken(@color--accent, 10%);
			color: @contrast--accent;
		}
	}

	@media @mobile {
        width: 100%;
        text-align: center;
    }
}

.contactform fieldset button,
.contactform fieldset button.btn,
.advancedcontactform fieldset button,
.advancedcontactform fieldset button.btn {
    margin-top: 20px;
}

.signupform fieldset button,
.signupform fieldset button.btn {
	@media @mobile {
        margin-top: 20px;
    }

}

.widget button.btn span {
	color: @font-swatch7-color;

	.style--light & {
        color: @font-swatch7-color;
	}

	.style--accent & {
		color: @contrast--dark;
	}

	.style--dark & {
		color: @contrast--accent;
	}
}

// Image Buttons

.widget.tweet a,
.widget.clicktocall a,
.widget.dropbox button,
.widget.filedownload button.btn {
	&, &:hover, &:focus {
		background-image: none;
	}
}

.widget.tweet a,
.widget.clicktocall a,
.widget.dropbox button span,
.widget.filedownload button.btn {
	&:before {
        position: relative;
        top: 0.1em;
		padding-right: 0.25em;
		background-image: none;
		font-family:'FontAwesome';
		font-size: 1.25em;
	}
}

.widget.tweet a:before {content: '\f099';}
.widget.clicktocall a:before {content: '\f095';}
.widget.dropbox button span:before {content: '\f16b';}
.widget.filedownload button.btn:before {content: '\f019';}

.widget.paypalbuynow .widget.button.paypal {
    margin: 0;
	padding-left: 3.2em !important;
    background-size: 1.2em;
    background-position: 1.25em center;
}

.widget.filedownload div {
	@media @mobile {
		float: none;
	}

	span.file-name {
		display: block;
		margin: 0.5em 0;
	}
}

// Social Icons

.widget.socialicons,
.widget.profile .bk-profile-socialicons {
    height: 42px;

	span {
		a {
            display: inline-block;
            background-image: none;
            background-color: @font-swatch7-background-color;
            margin: 5px;
            width: 32px;
            height: 32px;
            min-height: 32px;
            line-height: 32px;
            text-indent: 0;
            font-size: 0;
            min-width: 32px;
            padding: 8px 0px;

            .style--light & {
                background-color: @font-swatch7-background-color;
            }
        
            .style--accent & {
                background-color: @color--dark;
            }
        
            .style--dark & {
                background-color: @color--accent;
            }

			&:before {
                display: block;
                font-family: 'FontAwesome';
                text-indent: 0;
                font-size: 18px;
                line-height: 18px;
			}

            footer {
                &,
                &:hover {
                    padding: 0;
                }
            }
		}

		&.bk-socialicons-linkedin a:before {content: '\f0e1';}
		&.bk-socialicons-twitter a:before {content: '\f099';}
		&.bk-socialicons-instagram a:before {content: '\f16d';}
		&.bk-socialicons-pinterest a:before {content: '\f0d2';}
		&.bk-socialicons-facebook a:before {content: '\f09a';}
		&.bk-socialicons-rss a:before {content: '\f09e';}
		&.bk-socialicons-vkontakte a:before {content: '\f189';}
		&.bk-socialicons-xing a:before {content: '\f168';}
		&.bk-socialicons-youtube a:before {content: '\f16a';}
	}
}

// Twitter Feed

.widget.twitter {
	margin: 20px 0;

	ul {
		border: 1px solid @color-swatch7;
		padding: 0px 20px 1px 20px;

        .style--light & {
            border: 1px solid @color-swatch7;
        }

        .style--accent & {
            border-color: fade(@contrast--accent, 25%);
        }

        .style--dark & {
            border-color: fade(@contrast--dark, 25%);
    	}

        .widget.profile & {
            .clearfix
        }

        li {
            border-bottom: 1px solid @color-swatch7;
            padding: 0 0 20px 0;
            margin: 20px 0;
    
            .style--light & {
                border-color: @color-swatch7;
            }
    
            .style--accent & {
                border-color: fade(@contrast--accent, 25%);
            }
    
            .style--dark & {
                border-color: fade(@contrast--dark, 25%);
            }
    
            &:last-child {
                padding-bottom: 0;
                border-bottom: 0;
            }

            .twitter-content {
                margin-left: 68px;

                > a:first-of-type {
                    display: block;

                    .bk-full-name {
                        font-size: bkscale(@font-swatch5-font-size, 1.1);
                    }
                }

                p {
                    display: block;
                    padding: 0;
                    color: @font-swatch5-color;
            
                    .style--light & {
                        color: @font-swatch5-color;
                    }
            
                    .style--accent & {
                        color: fade(@contrast--accent, 90%);
                    }
            
                    .style--dark & {
                        color: fade(@contrast--dark, 90%);
                    }
                    
                    .widget.profile & {
                        text-align: left;
                    
                        @media @tablet {
                            text-align:center;
                        }
                    }

                    a {
                        text-decoration: underline;
                    }
                }
            
                a {
                    font-size: @font-swatch5-font-size;
                    font-weight: 400;
        
                    &:hover {
                        text-decoration: none;
                    }
                }

                .bk-full-name,
                p a,
                span,
                span a,
                time {
                    color: @font-swatch5-color;
            
                    .style--light & {
                        color: @font-swatch5-color;
                    }
            
                    .style--accent & {
                        color: @contrast--accent;
                    }
            
                    .style--dark & {
                        color: @contrast--dark;
                    }
                }
            }
        }
    }
}

// Yelp Review

.widget.yelpreview {
    ul.yelpreview {
        border: 1px solid @color-swatch7;
        padding: 0 20px;
        margin: 20px 0;

        .style--light & {
            border-color: @color-swatch7;
        }

        .style--accent & {
            border-color: fade(@contrast--accent, 25%);
        }

        .style--dark & {
            border-color: fade(@contrast--dark, 25%);
    	}

        li {
            border-bottom: 1px solid @color-swatch7;
            padding: 0 0 20px 0;
            margin: 20px 0;

            .style--light & {
                border-color: @color-swatch7;
            }
    
            .style--accent & {
                border-color: fade(@contrast--accent, 25%);
            }
    
            .style--dark & {
                border-color: fade(@contrast--dark, 25%);
            }
    
            &:last-child {
                padding-bottom: 0;
                border-bottom: 0;
            }

            dl.review-body {
                margin-bottom: 0;
            }

            dt.rating {
                padding: 0 0 5px;
            }

            dt,
            dd {
                font-size: 1em;
            }

            dd.created,
            dd.reviewer {
                margin-bottom: 10px;
                font-weight: bold;
            }

            dd.reviewer {
                margin-top: 10px;
            }
        }
    }
}

// Line

.widget.line {
	padding: 0;

    .line {
        background-color: fade(@font-swatch5-color, 50%);
        
        .style--light & {
            background-color: fade(@font-swatch5-color, 50%);
        }

        .style--accent & {
            background-color: fade(@contrast--accent, 50%);
        }

        .style--dark & {
            background-color: fade(@contrast--dark, 50%);
        }
    }
}

// Gallery

.widget.gallery {
    margin: 20px 0 20px -0.5%;

    ul li {
        @media @tablet {
            width: 50%;
            padding-bottom: 50%;
        }

        @media @mobile {
            width: 100%;
            padding-bottom: 100%;
        }

        .responsivecolumns & {
            width: 100%;
            padding-bottom: 100%;
        }

        span.inner {
            .title,
            .description {
                color: @color-swatch1;
                font-family: @font-swatch4-font-family;
                letter-spacing: @font-swatch4-letter-spacing;
                text-align: left;
            }

            .title {
                font-size: 19px;
                font-weight: 600;
                line-height: 26px;
            }

            .description {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    
    .image-data {
        display: block;
        opacity: 0;
        background-color: @color-swatch3;
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;

        &:hover {
            opacity: 1;
        }
    }
}

// Slideshow

.widget.responsiveslideshow {
    .content-wrapper {
        background-color:@color-swatch3;
        opacity: 0.9;
    }

    .slideshow-image-list,
    .slideshow-widget {
        height: 550px;
        min-height: 550px;

        @media @tablet {
            min-height: 450px;
            height: 100%;
            min-height: auto;
        }

        @media @mobile {
            height: 280px;
            min-height: 280px;
        }

        .crop span.inner {
            background-size: cover;
        }
    }

    // Arrows

    .slideshow-widget {
        .btn-prev,
        .btn-next,
        .btn-play {
            text-indent: -99999px;
            position: absolute;
            top: 50%;
            margin-top: -25px;
            padding: 0;
            height: 50px;
            width: 50px;
            background-color: @color-swatch1;

            &:after {
                display: block;
                font-family: 'FontAwesome';
                font-size: @font-swatch9-font-size;
                color: @color-swatch3;
                width: 50px;
                height: 50px;
                line-height: 52px;
                text-align: center;
                letter-spacing: normal;
            }
        }
        
        .btn-prev {
            left: 0;

            &:after {
                content: '\f053';
            }
        }
        
        .btn-next {
            right: 0;

            &:after {
                content: '\f054';
            }
        }
        
        // Play Button

        .btn-play {
            left: 50%;
            margin-left: -25px;
            
            &:after {
                content: '\f04b';
                color: @color-swatch3;
                top: 0;
            }

            &.pause {
                &:after {
                    content: '\f04c';
                }
            }
        }
    }

    // Slideshow Controls

    .slideshow-widget-controls {
        .dot {
            width: 10px;
            height: 10px;
            margin: 4px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;

            &.selected {
                background-color: @color-swatch2;
                border: 0;

                .style--light & {
                    background-color: @color-swatch2;
                }

                .style--accent & {
                    background-color: @color--dark;
                }

                .style--dark & {
                    background-color: @color--accent;
                }
            }
        }
    }

    .title,
    .description {
        padding: 15px;
        width: 100%;
		font-family: @font-swatch5-font-family;
		font-size: @font-swatch5-font-size;
		font-weight: @font-swatch5-font-weight;
		line-height: @font-swatch5-line-height;
		letter-spacing: @font-swatch5-letter-spacing;
    }

    .title {
        font-weight: bold;
    }
    
    .title + .description {
        position: relative;
        top: -15px;
        margin-top: -15px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

// Blog

.blog-list-footer {
	margin: 0px auto;
	display: table;
	padding: 20px 20px 40px 0px;

	a {
		margin: 0 50px;
		padding: 10px 30px 20px 0px;

		&:hover {
			background-color:@font-swatch7-background-color-hover;
			text-decoration: none;
		}
	}
}

.blog-post-list {
	border: 1px solid @color-swatch7;

    .style--light & {
        border-color: @color-swatch7;
    }

    .style--accent & {
        border-color: fade(@contrast--accent, 25%);
    }

    .style--dark & {
        border-color: fade(@contrast--dark, 25%);
    }
}

.blog-post-list .blog-post-item {
	position: relative;
	margin: 0px;
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid @color-swatch7;
	padding: 30px;

    .style--light & {
        border-color: @color-swatch7;
    }

    .style--accent & {
        border-color: fade(@contrast--accent, 25%);
    }

    .style--dark & {
        border-color: fade(@contrast--dark, 25%);
    }

	.blog-post-title {
		border-bottom: none;
        color: @font-swatch5-color;
		margin-bottom: 0;

        .style--light & {
            border-color: @color-swatch7;
            color: @font-swatch5-color;
        }

        .style--accent & {
            border-color: fade(@contrast--dark, 15%);
            color: @contrast--accent;
        }

        .style--dark & {
            border-color: fade(@contrast--dark, 15%);
            color: @contrast--dark;
        }
	}

    .blog-post-title a {
        color: @font-swatch5-color;

        .style--light & {
            color: @font-swatch5-color;
        }

        .style--accent & {
            color: @contrast--accent;
        }

        .style--dark & {
            color: @contrast--dark;
        }
    }
} 

.blog-post-list .blog-post-feature-image-wrap {
	width: 40%;
	margin-right: 2%;
    margin-bottom: 0;
	float: left;
	z-index: 0;
	height: auto;
	min-height: 200px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	img {
	    display: none;
	}

	@media @tablet {
		width: 100%;
		margin-bottom: 20px;
	}
}

.blog-post-feature-image-wrap {
    margin-bottom: 40px;
    background-size: cover;
    background-position: center;
    
    @media @tablet {
        height: 250px;
    }

    @media @mobile {
        height: 200px;
    }

    img {
        display: none;
    }
}

.blog-post-summary {
	margin-bottom: 10px;
    color: @font-swatch4-color;

    .style--light & {
        color: @font-swatch4-color;
    }

    .style--accent & {
        color: fade(@contrast--accent, 90%);
    }

    .style--dark & {
        color: fade(@contrast--dark, 90%);
    }
}

.blog-post-published-date {
    color: @font-swatch4-color;

    .style--light & {
        color: @font-swatch4-color;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}

.widget.blogpostlist .blog-list-footer {
	display: inline-block;

	a {
		margin: 0;
	}
}

.widget.blogsearch {
	display: block;
	clear: both;
	margin: 20px 0;

	label {
		display: block;
	}
}

// Blog Post

.blog-post-tags,
.blog-post-tags-label,
.blog-post-category,
.blog-post-category-label,
.blog-post-tag a {
	color: @font-swatch4-color;

    .style--light & {
        color: @font-swatch4-color;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}

.blog-post-category-label,
.blog-post-tags-label {
	font-weight: bold;

    &:after {
        content: ':\00a0';
    }
}

// Category Separation
footer.blog-post-metadata {
    margin: 40px 0;
    padding: 20px 0;
    border: solid;
    border-color: fade(@color-swatch3, 25%);
    border-width: 1px 0;
    
    .style--light & {
        border-color: fade(@color-swatch3, 25%);
    }

    .style--accent & {
        border-color: fade(@color--dark, 25%);
    }

    .style--dark & {
        border-color: fade(@color--dark, 25%);
    }
}

.blog-post-tags {
	margin-bottom: 10px;
}

.blog-post-tag,
.blog-post-category {
    a {
        color: @color-swatch3;
        font-weight: normal;
        max-width: 100%;
        word-break: break-word;
    }
}

// Sharing Buttons

.blog-post-sharing button {
	box-shadow: none;
	font-size: 14px;
	max-width: 160px;

	@media @tablet {
	    width: 32%;
	}
}

// Blog Search

.blog-search-form {
	label {
		position: relative;
		font-family: @font-swatch4-font-family;
		font-size: @font-swatch4-font-size;
		font-weight: @font-swatch4-font-weight;
		line-height: @font-swatch4-line-height;
		letter-spacing: @font-swatch4-letter-spacing;
		color: @font-swatch4-color;

        .style--light & {
            color: @font-swatch4-color;
        }

        .style--accent & {
            color: @contrast--accent;
        }

        .style--dark & {
            color: @contrast--dark;
        }
	}

	input {
        flex-grow: 1;
        margin-right: 10px;
        
        @media @mobile {
            width: 100%;
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
        }
        
        .responsivecolumns & {
            width: 100%;
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
        }
	}

	button {
		font-family: @font-swatch7-font-family;
		font-size: @font-swatch7-font-size;
		font-weight: @font-swatch7-font-weight;
		line-height: @font-swatch7-line-height;
		letter-spacing: @font-swatch7-letter-spacing;

		&:hover {
			cursor: pointer;
			background-color:@font-swatch7-background-color-hover;
			text-decoration: underline;
		}
	}
}

// Widget profile

.map {
	min-width: 200px;
}

.yelp-title {
	padding-bottom: 0;
}

dt.rating {
	padding-top: 0;
}